<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="LEVEL" value="INFO" />

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${LEVEL}">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>